<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <h4 class="mb-3 f-w-400">Bienvenu</h4>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-user"></i></span>
              </div>
              <input type="text" name="username" formControlName="username" class="form-control" placeholder="Username" (focus)="focus=true" (blur)="focus=false" required="required"  [ngClass]="{'is-invalid': submitted && f.username.errors }" >
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username est obligatoire</div>
              </div>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-lock"></i></span>
              </div>
              <input type="password" formControlName="password" name="password" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" required="required" [ngClass]="{'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password est obligatoire</div>
                <div *ngIf="f.password.errors.minlength">Password doit être au moins 6 caractères </div>
              </div>
            </div>
             <div class="input-group mb-4">
               <div *ngIf="loginFailed" style="color: red">
                 <div *ngIf="loginFailed">Password or Username incorrecte!</div>
               </div>
             </div>
            <button type="submit" class="btn btn-block btn-primary mb-4">S'identifier</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
